@import './user/reset.css';
@import './user/global.css';
@import './user/home.css';
@import './user/register.css';
@import './user/profile.css';
@import './user/deposit.css';
@import './user/category.css';
@import './user/detail-account.css';
@import './user/service.css';
