.preview-thumb {
    width: 500px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
}
.text-bold {
    font-weight: bold;
}
.text-danger {
    color: red;
}
.a_link {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}