@font-face {
    font-family: 'Signika';
    src: url('Signika-Light.woff2') format('woff2'),
        url('Signika-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika';
    src: url('Signika-Bold.woff2') format('woff2'),
        url('Signika-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika';
    src: url('Signika-Semibold.woff2') format('woff2'),
        url('Signika-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika';
    src: url('Signika-Regular.woff2') format('woff2'),
        url('Signika-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

